/*responsividade para telas entre 680px e 1024px de largura*/
@media screen and (min-width: 680px) {
    body nav .menu span {
        display: block;
    }

    body nav .menu .mobile {
        display: none;
    }

    body .blockPost {
        height: 320px;
    }
    
    body .blockPost .pinPost1 {
        float: left;
        width: 50%;
        border: none;
        margin: 0% 0% 0.5% 0%;
        background: rgb(110, 110, 110);
    }

    body .blockPost .pinPost2 {
        float: left;
        width: 50%;
        border: none;
        background: rgb(113, 113, 113);

        /*mostra o conteúdo git*/
        display: block;
    }

    body .git {
        width: 100%;
        height: 80px;
        margin-top: 1%;
    }
}

/*responsividade para telas entre 1024px ou mais de largura */
@media screen and (min-width: 1024px) {

    body {
        height: 1200px;
    }

    body .blockPost {
        width: 70%;
        height: 700px;
        margin: 50px 0px 0px 5%;
        background: transparent;
    }

        body .blockPost .pinPost1 {
            width: 50%;
            margin-bottom: 5px;
            background: rgb(110, 110, 110);
        }

        body .blockPost .pinPost2 {
            width: 50%;
            background-color: rgb(113, 113, 113);
        }

        body .blockPost .banner {
            float: left;
            width: 100%;
            height: 450px;
            display: block;
            margin-top: 5px;
            background: rgb(113, 113, 113);
        }

            body .blockPost .banner img {
                width: 100%;
                height: 100%;
            }

    body .git {
        width: 20%;
        height: 600px;
        margin: 50px 0px 0px 10px;
    }

    body .git .text .show {
        display: block;
    }
}
