/*googlefont*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/*basics proprierts*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    /*fontProprierts*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;

    /*styleProprierts*/
    background: rgb(116, 116, 116);
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
    padding: 0px 5px 5px 12px;
    color: rgb(230, 230, 230);
}

p {
    padding: 0px 5px 5px 12px;
}

/*body , nav*/
body nav, .menu {
    width: 100%;
    height: 50px;
    background: rgb(77, 77, 77);
}

    body nav .menu img {
        float: left;
        width: 50px;
        height: 50px;
        filter: invert(1);
        background-color: transparent;
    }

    body nav .menu span {
        cursor: pointer;
        display: none;
        float: left;
        width: 90%;
        height: 40px;
        margin: 2px 0px 0px 4%;
        background: rgb(140, 140, 140);

        /*fontProprierts*/
        font-size: 1.4rem;
        padding: 7px 0px 0px 2%;
    }

body .mainBanner {
    /*styleProprierts*/
    width: 100%;
    height: 240px;
    background-image: linear-gradient(rgb(63, 162, 255), rgb(0, 119, 255));

    /*positionProprierts*/
    display: flex;
    justify-content: center;
    align-items: center;
}
        
    body .mainBanner p {
        /*fontProprierts*/
        font-size: 1.4rem;
        text-align: center;

        /*positionProprierts*/
        margin: 0 auto;
    }

/*body, posts*/
    body #posts {
        float: left;
        width: 100%;
        height: 645px;
        background: transparent;
    }
    
        body #posts .above {
            width: 100%;
            height: 160px;
            border-bottom: 1px solid #3d3d3d;
            background: transparent;
        }

        body #posts .above h1 {
            padding: 20px 5px 10px 12px;
            line-height: 25px;
        }

        body #posts .above .auth {
            color: rgb(140, 140, 140);
        }

    body #posts .below {
        width: 100%;
        height: 160px;
        border-bottom: 1px solid #3d3d3d;
        background: transparent;
    }
    
        body #posts .below h1 {
            padding: 20px 5px 10px 12px;
            line-height: 25px;
        }
    
        body #posts .below .auth {
            color: rgb(140, 140, 140);
        }
    
    body #posts .deskBanner {
        display: none;
    }

/*body, git*/
body .git {
    float: left;
    width: 100%;
    height: 130px;
    background: rgb(110, 110, 110);
}

    body .git .text {
        font-size: 1rem;
        text-align: justify;
        color: #ffffe0;
        padding: 10px;
    }

        body .git .text .show {
            display: none;
        }

/*body, footer*/
footer {
    /*edit*/    
}
